
.auth-box {
  margin: 0 auto;
  margin-top: 100px;
  width: 90%;
  max-width: 380px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 20px 20px rgba(83, 83, 83, 0.3);
}

#signupTab{
    color : white;
    background: #12833c;
    margin-right: 10px;
}
.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab {
  flex: 1;
  min-width: 120px;
  flex-wrap: wrap;
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 10px;   
  cursor: pointer;
  border: none;
  background: #e5e7eb;
  font-size: 16px;
  border-radius: 10px;
  transition: 0.25s;
}

.tab.active {
  background: #2563eb;
  color: white;
}

.form {
  display: none;
  flex-direction: column;
}

.form.active {
  display: flex;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form input {
  padding: 14px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
  transition: 0.2s;
}

.form input:focus {
  border-color: #2563eb;
  outline: none;
  box-shadow: 0 0 4px rgba(37, 99, 235, 0.4);
}

#loginTab:hover {
  background: #1e4fc7;
}

#signupTab:hover {
    color : white;
  background: #065523;
}

/* Responsiveness */

@media (max-width: 500px) {
  .auth-box {
    padding: 20px;
    margin-top: 40px;
  }

  .form h2 {
    font-size: 20px;
  }
  
  .tabs{
    flex-direction: column;   
    gap: 10px; 
  }
  
  .tab {
    width: 100%;           
    margin: 0;
    padding: 10px;
    font-size: 14px;
  }

  .form input {
    font-size: 14px;
    padding: 12px;
  }
}
